@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">League App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> League Play
        </NavLink>
        @if (expandSubNav)
        {
            <NavLink class="expand-menu" href="Schedules">
                <span>Schedule</span>
            </NavLink>
            <NavLink class="" href="Players">
                <span>Players</span>
            </NavLink>
            <NavLink class="" href="Teams">
                <span>Team</span>
            </NavLink>
        } *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memberships">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Membership
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
        </NavLink>
    </div>
     
    </nav>
</div>

@code {

    private bool expandSubNav;

}



