@using Microsoft.AspNetCore.Components.Authorization


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LeagueApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="SiteAdmin, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="memberships">
                        <span class="bi  bi-list-nested-nav-menu" aria-hidden="true"></span> Membership
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> League Play
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="schedules">
                <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="players">
                    <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Players
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="teams">
                    <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Teams
                </NavLink>
            </div>

       <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Matches
            </NavLink>
        </div>

        @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="/matches/byereport">
                <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Byes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/matches/schedulereport">
                <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule Report
            </NavLink>
        </div> *@

       @*  <AuthorizeView Roles="SiteAdmin,Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/matches/creatematches">
                        <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Matches
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/matches/clearschedule">
                        <span class="bi-indent bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Clear Schedule
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView> *@



        <AuthorizeView Roles="SiteAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="loggings">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logs
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>


@code {
    bool showleague = false;



    



}


