@page "/"

@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp3.Model.TournamentContext DB
@using BlazorApp3.Model


<PageTitle>Home</PageTitle>

<h1>Select League</h1>


<QuickGrid Class="table" Items="DB.Leagues.Where(x=>x.Active)">
    <PropertyColumn Property="league => league.LeagueName"  Title="League"/>
   
    <TemplateColumn Context="league">
        <a href="@($"/welcome/?leagueid={league.Id}")">Select</a>
    </TemplateColumn>
</QuickGrid>






