@page "/users/create"
@inject BlazorApp3.Model.TournamentContext DB
@using BlazorApp3.Model
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="User" OnValidSubmit="AddUser" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label> 
                <InputText id="username" @bind-Value="User.Username" class="form-control" /> 
                <ValidationMessage For="() => User.Username" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="User.Password" class="form-control" /> 
                <ValidationMessage For="() => User.Password" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="displayname" class="form-label">DisplayName:</label> 
                <InputText id="displayname" @bind-Value="User.DisplayName" class="form-control" /> 
                <ValidationMessage For="() => User.DisplayName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isactive" class="form-label">IsActive:</label> 
                <InputCheckbox id="isactive" @bind-Value="User.IsActive" class="form-check-input" /> 
                <ValidationMessage For="() => User.IsActive" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastloggedin" class="form-label">LastLoggedIn:</label> 
                <InputDate id="lastloggedin" @bind-Value="User.LastLoggedIn" class="form-control" /> 
                <ValidationMessage For="() => User.LastLoggedIn" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="serialnumber" class="form-label">SerialNumber:</label> 
                <InputText id="serialnumber" @bind-Value="User.SerialNumber" class="form-control" /> 
                <ValidationMessage For="() => User.SerialNumber" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/users">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public User User { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddUser()
    {
        DB.Users.Add(User);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/users");
    }
}
