@using BlazorApp3.Components.Layout
@using BlazorApp3.Components.Pages.NotAuthorized
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Authorized>
                <NotAuthorized>
                    <CascadingAuthenticationState>
                        <RedirectToLogin />
                    </CascadingAuthenticationState>
                </NotAuthorized>
            </AuthorizeView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(BlankLayout)">
                    <p>Not Found</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>